/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:large;
	font-family:helvetica;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset*/
body{
	/*background:url(../images/checkoutcounter.jpg) no-repeat;*/
	/*background-size:cover;*/
	background:lightblue;
	max-height:1em;
}
.heading{
	height:12em;
	width:auto;
	background:steelblue;
	z-index:-100;
}
.icon{
	position:absolute;
	height: 6em;
	width: 6em;
	left:11em;
	top:11em;

	background:url(../images/qrcode.png);
	background-size:cover;
}
.content{
	position:relative;
	margin:0 auto;
	position:relative;
	margin-top:-7em;
	margin-bottom:3em;
	background: rgba(234, 236, 234, 0.95);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border:8px solid lightgray;
	box-shadow: 5px 5px 3px darkgray;
	height:auto;
	width:65em;
	padding-top:1.5em;
	padding-bottom:2em;
}
.title{
	position:relative;
	margin:0 auto;
	margin-top:0.25em;
	/*background:url(../images/barcode.jpg) no-repeat;*/
	/*background-size:cover;*/
	background:lightskyblue;
	width:65%;
	height:1.25em;
	border-radius:2px;
	border:15px solid steelblue;
	padding-top:1.5em;
	font-size:2em;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 10px;
	box-shadow:3px 3px 3px black;

}
.shopping{
	position:relative;
	height:1em;
	width:8em;
	/*border:8px solid white;*/
	padding:25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	color:white;
	text-align:center;
	font-size:1.5em;
	text-shadow:4px 4px black;
	/*left:1.5em;
	top:0.5em;*/
/*	text-align:middle;
	vertical-align:middle;*/
	margin:0 auto;
	margin-top:-1em;
/*	margin-top:0.3em;*/
}


.subtitle{
		position:relative;
		text-align:center;
		margin-left:17em;
		margin-top:1em;
		z-index:102;
}
.subtitle li{
		display:inline-block;

		margin-top:1em;
		z-index:103;
}
.remove{
	margin-left:1em;
}	
input{
	border:8px solid lightgray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	height:1.7em;
	font-size:1.2em;
	margin-right:7em;
}

button{
	font-size:1.5em;
	height:2em;
	border:8px solid gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background:grey;
	color:white;
	box-shadow:10px 10px 5px black;
	text-shadow:2px 2px black;
}
#itemList{
	position:relative;
	margin-top:50px;
/*	height:3em;*/
	margin-left:-5em;
/*	z-index:101;*/
	border:5px 5px blue;
}
#itemList li{
		display:block;

		border:8px solid gray;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		padding:5px;
		background:silver;
		color:white;

	}
.item{
	position:relative;
	box-shadow:2px 2px 2px steelblue;
	text-shadow:2px 2px steelblue;
	/*margin: 20px auto;*/
	margin-left:12em;
	margin-top:20px;
	width:10em;
	font-size:2em;
	z-index:2;
}
 #cartimage {
 		position:relative;
		background:url(../images/cart1.png) no-repeat;

		height:27em;
		width:33em;
		/*margin-top:em;*/
		border:none;
		height:10em
		width:20em;
		background-image:cover;
/*		margin-top:-15em;*/
		margin-left:20em;
		margin-top:-20em;
/*		z-index:1;*/

}
#itemList .highlight{
	text-decoration:line-through;
	color:royalblue;
	text-shadow:2px 2px white;
}
/*.cartedstack{
	position:relative;
	height:700px;
	width:100%;
	border:5px solid black;
}*/
.footing{
	display:block;
	text-align:center;
	/*margin-top:-1.5em;*/
	font-size:1.5em
	z-index:3;
	height:20px;
	width:100%;
}
.footing li{
	display:inline-block;
	vertical-align:middle;
	margin:0 auto;
}
.copy{
	position:absolute;
	vertical-align:middle;
	height:25px;
	width:150px;
	left:2%;
	bottom:5%;
	font-size:1.15em;
}
.instructhold{
	position:absolute;
	font-size:0.7em;
	bottom:0;
	left:40%;
}
.socialhold{
	position:absolute;
	right:2%;
	bottom:5%;

}
.media{
	display:inline-block;
	margin-right:0.4em;
	vertical-align:middle;
	height:57px;
	width:57px;
	opacity:1.0
	

}
.face{
	background:url(../images/icon-set1.png) no-repeat -172px 0px;
}
.twit{
	background:url(../images/icon-set1.png) no-repeat -285px -57px;
}
.pin{
	background:url(../images/icon-set1.png) no-repeat -57px -57px;

}

.instructions{
	position: relative;
	height:130px;
	width:500px;
	margin-left:35%;
	margin-top:-2.5%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border:3px dashed grey;
	background: rgba(234, 236, 234, 0.95);
}
.hide{
	display:none;
}
.instructions div{
	margin-top:5%;
	margin-left:1%;
	font-size:1.25em;

}